<article class="d-flex flex-wrap justify-content-center gap-3 p-3">
  <div class="card" style="width: 24rem;" *ngFor="let card of cardsObj">
    <img src="{{card.image}}" class="card-img-top " alt="Card image">
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><b>Country:</b> {{card.country}}</li>
      <li class="list-group-item"><b>Name:</b> {{card.name}}</li>
      <li class="list-group-item"><b>Rating:</b> {{card.raiting}}</li>
    </ul>
    <div class="card-body justify-content-between d-flex">
      <button class="btn  btn-light">Add Card</button>
      <button class="btn  btn-light">Details</button>
    </div>
  </div>
</article>




