<article class="col-6 m-auto mt-3">
  <form  #form="ngForm" (ngSubmit)="X(form)">
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" name="email" ngModel class="form-control" id="exampleInputEmail1">
      </div>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" ngModel id="exampleInputPassword1">
      </div>
      <button type="submit" class="btn btn-primary col-12">Submit</button>
  </form>
</article>